:root {
    --form-width: min(90vw, 350px);
}

a {
    color: black;
    display: flex;
    align-items: center;
}

fieldset {
    border-radius: 5px;
}

a:visited {
    color: black;
}

.form {
    margin: auto;
    margin-top: 2dvh;
    width: var(--form-width);
}

.form-entry {
    margin: 10px 0px 5px;
}

.form-entry > input {
    width: calc(var(--form-width) - 12px);
}

.form-entry > button, input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
}

.form-entry > button {
    cursor: pointer;
    background: lightblue;
    transition: background 0.25s;
}

.form-entry > button:hover {
    cursor: pointer;
    background: lawngreen
}

.form-entry > label {
    display: block;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
}

.error-message > p {
    color: red;
    margin: 0px;
    margin-top: 10px;
    margin-left: 20px;
}
