<!DOCTYPE html>

<head>
    <title>Loan Tracker Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/password_form.css') }}">
</head>

<body>
    <form class="form" method="post">
        <fieldset>
            <legend>Account Registration</legend>
            <div class="form-entry">
                <label for="username">Username:<span style="color:red; margin-left:5px;">*</span></label>
                <input id="username" name="username" required autofocus />
            </div>
            <div class="form-entry">
                <label for="password">Password:<span style="color:red; margin-left:5px;">*</span></label>
                <input id="password" name="password" type="password" required minlength="8" pattern="" />
            </div>
            <div class="form-entry">
                <label for="repeat_password">Repeat Password:<span style="color:red; margin-left:5px;">*</span></label>
                <input id="repeat_password" name="repeat_password" type="password" required minlength="8" pattern="" />
            </div>
            <div class="form-entry">
                <button>Register</button>
            </div>
        </fieldset>
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
    </form>
</body>